
/* algemene custom properties */
/* background colors enzo opschrijven */


/* ALGEMEEN */
*, *::after, *::before {
  box-sizing:border-box;  


}
body {
  margin:0;
  padding: 0; 
  font-family:'Open Sans', sans-serif;
}


/**************************************** styliong voor small-screen ******************************/ 

/* BUTTON HAMBURGER MENU  */
header{
  padding: 1em 0em 3em; 
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  z-index: 200;
  background-color:pink;
}

header a{
  color: black;
  text-decoration: none;
}

/* MENU */
nav{
  grid-column-start:1 ;
  grid-row-start: 1;
  position: absolute;
  right: 0;
  z-index: 100;
}

/* LIJST MET LINKS */
nav ul{ 
  margin: 0;
  padding: 4em 0 0;
  background-color:grey;
  /* background zwart maken met opacity */
  list-style: none;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  transform: translateX(-100%);
  transition: .3s;
  z-index: 1;
}

nav.toonMenu ul {
transform: translateX(0%);
}

nav li{
  margin: 0;
  padding: 0;
  font-size: 14px;
}

nav a {
  display: flex;
  align-items: center;
  gap:.25em; 
  padding:.25em 1em; 
}
nav button{ 
  width: 3.5em;
  height: 4em;
  appearance: none;
  border: none ; 
  background-color: transparent; 
}


/* STYLING HAMBURGER MENU ZELF*/
button{
  z-index: 150;
  position: relative; 
  width: 4em;
  height: 4em;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button span{
  display: block;
  width: 50%;
  height: 1px;
  background-color: black;

  position: absolute;

  transition: .3s;
}

button span:nth-of-type(1){
transform: translateY(-5px);
}

button span:nth-of-type(3){
  transform: translateY(5px);
}

nav.menuOpen button span{ 
  background-color: red;
}


nav.menuOpen button span:nth-of-type(1){
  transform: rotate(45deg);
  }
  
nav.menuOpen button span:nth-of-type(2){
  opacity: 0;
  }
  
nav.menuOpen button span:nth-of-type(3){
    transform: rotate(-45deg);
  }

/* LOGO */
header img {
    
  width: 109px;                      /* px het niet mag mee schalen */
  left: 0;
  position: absolute; 
  z-index: 150;

  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: .25em;
  align-items: center;
}

section:nth-of-type(1){
  position: relative;
}
section h1{
  display: none;
}
/******  TOP AFBEELDING   ******/
section:nth-of-type(1){
  /* position:sticky;  */
  height: 100vh;                     /* vh staat voor view height, wat in het beeld zichtbaar is */
  top:4em;
}
/****** ACHTERGROND RIJSTVELD ******/
section img:nth-of-type(1) {
  width: 100%;
  object-fit: fill;
}
/******  TEKST REISJUNK OVER RIJSTVELD ******/
section img:nth-of-type(2){
  display: flex;
  justify-content: center;
  width: 55%;
                                              /*  het krijgen in het midden lukt niet  */
  z-index: 1;
  position: absolute;
  top: 0;
}





/****** STYLING CONTENT CAROUSEL********/
 section h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.8em;
}

section ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;

  overflow: scroll;
  scroll-snap-type: x mandatory;
}

section ul li{
  width: 100%;
  padding: 0 1em;
  flex-shrink: 0;
  scroll-snap-align: center;
}

section li a {
  display: block;
  position: relative ;

}

section a h3{
  position: absolute;
  bottom: .5em;
  left: 3em;
  color: white;
  z-index: 50;
}

/****** VERS VAN DE PERS ******/
section:nth-of-type(2) img  {
  display: block;
  width: 90%;
  max-width: 40em;
  margin: auto;
  

}
/****** MEEST GELEZEN ******/
section:nth-of-type(3) h2 {
color: black;
}

section:nth-of-type(3) img{
  display: block;
  width: 100%;
  
}


/*************************************** GROTE SCHERM *****************************/



/******  styling voor de breede pagina ******/
@media (min-width:40em){

  
  section img:nth-of-type(3){
    visibility: visible;
  } 
  
  header img {
    grid-column-start: auto;
  }

  nav {
    grid-column-start: auto;
    grid-row-start: auto;
    position: absolute;
    left: 0;                  /* hoe kan het dat als ik left 0 doe het menu in het midden komt te staan?  */
  
    
  }

  nav button { 
    display: none;
  }

  nav ul{
    position: relative;
    transform: none;
    display: flex;
    justify-content: center;
   
    padding: 0;
    background-color: transparent;
  } 

  nav a {
    border-top: none;
  }
  section img:nth-of-type(4){
    display: none;
  }
/* header nav { 
  display: flex;
  justify-content: space-between;
  align-items: center; 
} */
 
/******  LOGO LANG  ******/
section img:nth-of-type(2){
  visibility: hidden;
}
                                        /* deze werkt niet, de lange afbeelding moet zichbaar worden */
section img:nth-of-type(3){
  visibility: visible;
}

}
