/* algemene custom properties */
/* background colors enzo opschrijven */


/* ALGEMEEN */
*, *::after,
 *::before {
  box-sizing:border-box;  
  margin: 0px;
  padding: 0px;

}
body {
  font-family:'Open Sans', sans-serif;
  letter-spacing:.5px;
  background-color: white;
  right: 0;
}

/* footer */
footer{
    display: flex;
    justify-content: center;
    position: relative;
  }
  footer ul li{
    list-style: none;
  }
  footer ul li img{
  position: absolute;
  margin: 10px;
  }


/**************************************** styling voor small-screen ******************************/ 
/****************** HOME PAGE***************/ 
header{
    position: fixed;
    z-index: 150;
    background-color: white;
    left: 0;
    right: 0;
    padding: 0em 0em .1em 0em; 
    height: 64px;
  }

header a{
    color: black;
    text-decoration: none;
  }

header img {
    height: 21px;
    width: 109px;
    align-self: center;
  }


section:nth-of-type(1) h1{
    visibility: hidden;
  }

  /* MENU */
nav{
    /* grid-column-start:1 ;
    grid-row-start: 1;
    position: absolute;
    right: 0;
    z-index: 100;  */
    display: flex;
  
    justify-content: space-between;
    padding: 0.5em 1em;
  }
nav ul{ 
    margin: 0;
    padding: 5em 0 0;
    background-color:grey;
    /* background zwart maken met opacity */
    list-style: none;
  
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  
    transform: translateX(-100%);
    transition: .3s;
    z-index: -1;
  }
  
nav.toonMenu ul {
  transform: translateX(0%);
  }
  
nav li{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 900;
  }
  
nav a {
    display: flex;
    align-items: center;
    gap:.25em; 
    padding:.25em 1em; 
    
  }
nav button{ 
    width: 3.5em;
    height: 4em;
    appearance: none;
    border: none ; 
    background-color: transparent; 
  }

  /* STYLING HAMBURGER MENU */
button{
    z-index: 150;
    position: relative; 
    
  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
button span{
    display: block;
    width: 50%;
    height: 1px;
    background-color: black;
  
    position: absolute;
  
    transition: .3s;
  }
  
  button span:nth-of-type(1){
  transform: translateY(-5px);
  }
  
  button span:nth-of-type(3){
    transform: translateY(5px);
  }
  
  nav.menuOpen button span{ 
    background-color: red;
  }
  
  
  nav.menuOpen button span:nth-of-type(1){
    transform: rotate(45deg);
    }
    
  nav.menuOpen button span:nth-of-type(2){
    opacity: 0;
    }
    
  nav.menuOpen button span:nth-of-type(3){
      transform: rotate(-45deg);
    }

/******  TOP AFBEELDING   ******/
section:nth-of-type(1){
    position:sticky;  
    height: 100vh;                     /* vh staat voor view height, wat in het beeld zichtbaar is */
    top:4em;
    z-index: -2;
  }
  /****** ACHTERGROND RIJSTVELD ******/
  section:nth-of-type(1) img:nth-of-type(1) {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  /******  TEKST REISJUNK OVER RIJSTVELD ******/
  section:nth-of-type(1) img:nth-of-type(2){                   /* er staat section img :nth of type (2) omdat je de 2 de img van de section wilt aansperken. */ 
    display: flex;
    justify-content: center;
    width: 100%;
    
                                                /*  het krijgen in het midden lukt niet  */
    z-index: 1;
    position: absolute;
    top: 0;
  }
  
  section:nth-of-type(1) img:nth-of-type(3){
    visibility: hidden;
  }  
  


/****** STYLING CONTENT CAROUSEL********/
section h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.8em;
    z-index: 150;
    font-weight: 700;
    color: #343434;
    padding: 1em;
  }
  section ul {
    margin: 0;
    padding: 0;
    list-style: none;
  
    display: flex;
  
    overflow: scroll;
    scroll-snap-type: x mandatory;
  }
  
  section ul li{
    width: 100%;
    
    flex-shrink: 0;
    scroll-snap-align: center;
  }
  
  section li a {
    display: block;
    position: relative ;
  
  }
  
  section a h3{
    position: absolute;
    bottom: 0em;
    left: 1em;
    color: white;
    font-size: 23px;
    font-weight: 900;
    
  }
/****** VERS VAN DE PERS ******/
section:nth-of-type(2) {
    padding: 16px;
    background-color: white;
    position: relative;
    display: inline-block;
  }
  section:nth-of-type(2) ul li a{
    position: relative;
    overflow: hidden;
    
  }
  
  section:nth-of-type(2) ul li a img {  
    /* display:block;  */
    width: 100%;
    padding: 0px 20px ;
    margin: 10px;
    height: 25em;
    object-fit: cover;
  }
  section:nth-of-type(2) h3{
  position: absolute;
  left:35px;
  bottom:30px;
  max-width: 100%;
  }
     
  /****** MEEST GELEZEN ******/
section:nth-of-type(3) {
    background-color: white;
    
  }
  section:nth-of-type(3) img{
    display: block;
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }
  section:nth-of-type(3) h3{
    margin: 1em;
  }

  /****** ONZE REISROUTES ******/
section:nth-of-type(4) {
    padding: 16px;
    background-color: white;
  }
  
  section:nth-of-type(4) img{
    display:block; 
    width: 100%;
    padding: 0px 20px ;
    height: 22em;
    object-fit: cover;
  }
  section:nth-of-type(4) h3{
    margin: 1em;
  }


  /****************** over ons ***************/ 
  /* hoofd img */
  .overons section:nth-of-type(1) {
    position: sticky;
    height: 50vh;
    z-index: -1; 
  } 
  
  .overons section img:nth-of-type(1) {
    width: 100%;
    height: 15em;
    object-fit: cover;
  }
  /* OVER ONS title */

.overons section:nth-of-type(2 ) {
    background-color: white;
    padding:20px;
  } 
  .overons section:nth-of-type(2) h1 {
    visibility: visible;
    font-size: 32px;
    text-align: center;
    padding: 15px 0px;
  }
  .overons section:nth-of-type(2) p:nth-of-type(1) {
    font-size: 17px;
    text-align: center;
    margin: 0px 0px 25px;
  }
  
   .overons section:nth-of-type(2) p:nth-of-type(2){
    font-size: 17px;
    text-align: center;
  } 

/* TIPS ONTVANGEN */
.overons section:nth-of-type(3) {
    background-color: white;
    padding:20px;
  } 
  .overons section:nth-of-type(3) h2 {
    font-size: 17px;
    text-align: center;
    margin: 0;
  }
  .overons section:nth-of-type(3) p {
    font-size: 17px ;
    text-align: center;
    margin: 0px 0px 25px;
  }
  .overons section:nth-of-type(3) p a{
    color: red;
  }

  /* TEAM */
.overons section:nth-of-type(4) {
    background-color: white;
    padding:20px;
  } 

  
.overons section:nth-of-type(4) img{
    width: 100%;
    height: 100%;
}

/* WORK WITH US */
.overons section:nth-of-type(5) {
    background-color: white;
    padding:20px;
  } 
  .overons section:nth-of-type(5) h2 {
    font-size: 32px;
    text-align: center;
  }
  .overons section:nth-of-type(5) p:nth-of-type(1){
    font-size: 17px ;
    text-align: center;
    margin: 0px 0px 25px;
  
  }
  .overons section:nth-of-type(5) p:nth-of-type(2){
    text-decoration: line-through;
    font-size: 17px ;
    text-align: center;
    margin: 0px 0px 25px;
  
  }
  .overons section:nth-of-type(5) p:nth-of-type(3){
    text-decoration: line-through;
    font-size: 17px ;
    text-align: center;
    margin: 0px 0px 25px;
  }

  
/* REVERENTIES */
.overons section:nth-of-type(6){
    background-color: white;
    padding: 20px;
  }
  
  
  

/**************************************** styling voor Large-screen ******************************/ 
@media (min-width:48em){

/* menu algemeen */
nav {
    grid-column-start: auto;
    grid-row-start: auto;
    position: relative;
    left: 0; 
    top: 1em;   
  }

  nav button { 
    display: none;
  }

  nav ul{
    position: absolute;
    transform: none;
    display: flex;
    justify-content: center;
   
    padding: 0;
    background-color: transparent;
  } 

  nav a {
    border-top: none;
  }

section:nth-of-type(2) h2{
    margin: 12px 0px;
  }

/* homepage */
    section:nth-of-type(1) img:nth-of-type(1){
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    section:nth-of-type(1) img:nth-of-type(2){
    visibility: hidden;
      }   
       
    section:nth-of-type(1) img:nth-of-type(3){
    visibility: visible;
     z-index: 1;
      display: flex;
      justify-content: center;
      width: 50%;
      z-index: 1;
      position: absolute;
      top:50%;
      bottom:50%; 
      transform: translate(50%, -50%);
    }

/* over ons */
.overons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
/* header afbeelding */
.overons section:nth-of-type(1){
  grid-column-start:1 ;
  grid-column-end: 5;
  grid-row: 1;
}
/* over ons  */
.overons section:nth-of-type(2){
  grid-column-start:1;
  grid-column-end: 3 ;
  grid-row: 2;
}
/* .overons section:nth-of-type(2) h1{
  grid-column-start:1;
  grid-row: 1;
  
} */
/* .overons section:nth-of-type(2) p{
  grid-column-start:1;
  grid-row: 1;
}  */
/* tips  */
.overons section:nth-of-type(3){
  /* grid-template-columns:20em 1fr; */
  grid-column-start: 1 ;
  grid-column-end:3;
  grid-row-start: 3;
}
/* .overons section:nth-of-type(3) h2 {
  grid-column-start:1;
}
.overons section:nth-of-type(3) p {
  grid-column-start:1;
}     */


/* team  */
.overons section:nth-of-type(4){
grid-row-start: 2;
grid-column-start: 3;
grid-column-end: 5;
/* height: 75%;
padding: 2.75em; */

  } 

  .overons section:nth-of-type(4) img{
    /* grid-column-start:3;
    grid-row-start: 1;
    
    display: block;
    top: 0;
     */
  object-fit: scale-down;
  }

  /* work with us */
  .overons section:nth-of-type(5){
    grid-column-start: 3;
    grid-column-end: 5;
    /* display:grid;
    grid-template-columns:20em 1fr;
     */
  }
  /* .overons section:nth-of-type(5) h2{
    grid-column-start:2;
    
  } 
  .overons section:nth-of-type(5) p{
    grid-column-start:2;
    
  } */

  /* reverenties */
  .overons section:nth-of-type(6){
    /* display:grid; */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
  }
  .overons section:nth-of-type(6) h2{
    grid-column-start: 1;
  }

.overons section:nth-of-type(6) img{
    grid-column-start: 1;
  }
  }

  /**************************************** styling voor nog Large-screen ******************************/
  @media (min-width:60em){

/* homepage */

    /* VERS VAN DE PERS */
    section:nth-of-type(2) ul{
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    }
    
    section:nth-of-type(2) ul li{
      width: 40%;
      flex-shrink: 0;
      scroll-snap-align: center ;
    } 
/* section:nth-of-type(2) ul li h3{
  color: green;
  vertical-align: baseline;
  position: absolute;
  display: inline-block;
  overflow: hidden;
} */
    section:nth-of-type(2) img{
        width: 80%;
        height: 21em;
        object-fit: cover;
      }
      /* MEEST GELEZEN  */
      section:nth-of-type(3) ul{
        display: flex;
        align-content: center;
        overflow: scroll;
        scroll-snap-type: x mandatory;
       
      }
      
      section:nth-of-type(3) ul li{
        flex-shrink: 0;
        scroll-snap-align: center;
      
      }
      
      section:nth-of-type(3) img{
        width: 100%; 
        height: 21.875em;
        object-fit: cover; 
        padding: 1em;
      }      


/* ONZE REISROUTES */
section:nth-of-type(4) ul{
    display: flex;
     /* justify-content: space-between;  */
    overflow: scroll;
    scroll-snap-type: x mandatory;
  
    }
    section:nth-of-type(4) ul li{
      width: 25%;
      flex-shrink: 0;
      scroll-snap-align: center ;
    }
  
    section:nth-of-type(4) img{
      width: 100%;
      height: 21.875em;
      object-fit: cover;
     
    } 

/* over ons */

.overons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.overons section:nth-of-type(4){
  /* grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 5; */
  height: 100%;
  /* padding: 2.75em; */
  
    } 

/* work with us */
.overons section:nth-of-type(5){
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row: 4;
    
  }
  /* .overons section:nth-of-type(5) h2{
    grid-column-start:1;
    
  } 
  .overons section:nth-of-type(5) p{
    grid-column-start:1;
  
  } */

  .overons section:nth-of-type(6){
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 4;
  }
  
  
  }