
/* algemene custom properties */
/* background colors enzo opschrijven */


/* algemeen stijlen */

*, *::after, *::before {
  box-sizing:border-box;  

}
body {
  margin:0; 
}
/* dit is voor groter scherm... */
/* header nav { 
  display: flex;
  justify-content: space-between;
  align-items: center; 
} */


/* styliong voor small-screen */ 



/* button hambuger menu  */
header{
  padding: 1em 0em 3em; 
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  z-index: 1;
  background-color:white;
}

header a{
  color: black;
  text-decoration: none;
}

/* logo */
header img {
    /* gekozen voor px omdat het logo niet moet mee schalen */
  width: 130px;
  left: 0;
  position: absolute; 
  z-index: 150;

  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: .25em;
  align-items: center;

 

}

/* het menu */
nav{
  grid-column-start:1 ;
  grid-row-start: 1;
  position: absolute;
  right: 0;
  z-index: 100;
}
nav button{ 
  width: 3.5em;
  height: 4em;
  appearance: none;
  border: none ; 
  background-color: transparent;


}
/* lijst met links */

nav ul{ 
  margin: 0;
  padding: 4em 0 0;
  background-color: grey;
  /* background zwart maken met opacity */
  list-style: none;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  transform: translateX(-100%);
  transition: .3s;
  z-index: 1;
}
nav.toonMenu ul {
transform: translateX(0%);
}

nav li{
  margin: 0;
  padding: 0;
}
nav a {
  display: flex;
  align-items: center;
  gap:.25em; 
  padding:.25em 1em; 
}


/* styling hamburger menu zelf*/

button{
  z-index: 150;
  position: relative; 
  width: 4em;
  height: 4em;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button span{
  display: block;
  width: 50%;
  height: 1px;
  background-color: black;

  position: absolute;

  transition: .3s;
}


button span:nth-of-type(1){
transform: translateY(-5px);
}

/* button span:nth-of-type(2){
} */

button span:nth-of-type(3){
  transform: translateY(5px);
}

nav.menuOpen button span{ 
  background-color: red;
}


nav.menuOpen button span:nth-of-type(1){
  transform: rotate(45deg);
  }
  
nav.menuOpen button span:nth-of-type(2){
  opacity: 0;
  }
  
nav.menuOpen button span:nth-of-type(3){
    transform: rotate(-45deg);
  }
/* top afbeelding stylen  */

section:nth-of-type(1){
  position:relative; 

}

section img:nth-of-type(1) {
  width: 200px;
  height: 300px;
  object-fit: fill;
}

section img:nth-of-type(2){
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;


}

/* styling content carousel */
 section h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3em;
}

section ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;

  overflow: scroll;
  scroll-snap-type: x mandatory;
}

section ul li{
  width: 100%;
  padding: 0 1em;
  flex-shrink: 0;
  scroll-snap-align: center;
}

section li a {
  display: block;
  position: relative ;

}

section a h3{
  position: absolute;
  bottom: .5em;
  left: 3em;
  color: white;
  z-index: 50;
}

/* eerste section, vers van de pers */
section:nth-of-type(2) img  {
  display: block;
  width: 90%;
  max-width: 40em;
  margin: auto;
  

}
/* section meest gelezen */
section:nth-of-type(3) h2 {
color: black;
}

section:nth-of-type(3) img{
  display: block;
  width: 100%;
  
}





/* styling voor de breede pagina */
@media (min-width:47em){

  
  header img {
    grid-column-start: auto;
  }

  nav {
    grid-column-start: auto;
    grid-row-start: auto;
    position: absolute;
    left: 0;
  /* hoe kan het dat als ik left 0 doe het menu in het midden komt te staan?  */
    
  }

  nav button { 
    display: none;
  }

  nav ul{
    position: relative;
    transform: none;
    display: flex;
    justify-content: center;
   
    padding: 0;
    background-color: transparent;
  } 

  nav a {
    border-top: none;
  }
 
}